# Template environment file. 
# Copy the variables in this file into a new file named `.env`

## Mandatory

OIDC_CLIENT_ID=client_id
OIDC_CLIENT_SECRET=client_secret

# More optional configurations are available, 
# look at Environment.md in the Documentation folder 